.btn {
    background-color: white;
    color: #1351BB;
    border: 2px solid #1351BB;
    padding: 12px 40px;
    font-size: 1rem;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 400;
}

.btn:hover {
    background-color: #D9E3F2;
}